@mixin egl_btn($color) {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  background-color: $color;
  color: #3b3b3b;
  width: 100%;
  border: none;
  margin-top: 5px;
}
